@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




/* Karla and Poppins fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    ::-webkit-scrollbar {
        @apply w-1.5 h-1.5 left-5;
    }
    ::-webkit-scrollbar-thumb {
        @apply bg-gray-200 rounded;
    }
    ::-webkit-scrollbar-thumb:hover {
        @apply bg-gray-300;
    }
}
/*
input[type="range"]::-webkit-slider-thumb {
    !* Styles spécifiques au "thumb" *!
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #4CAF50; !* Couleur de fond du "thumb" *!
    cursor: pointer; !* Curseur personnalisé lorsque l'utilisateur passe dessus *!
}*/
.min-w-ch {
    min-width: 10ch; /* Réglez la valeur en fonction de vos besoins */
}



body{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
}